
{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2 class="text-center"><b>WELCOME TO HEROES SQUAD</b></h2>
<!--                <div class="card spiderman" style="width: 18rem;">-->
<!--                    <img class="card-img-top " src="/img/hero.jpg" alt="Card image cap">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Create A hero</h5>-->
<!--                        <a href="/hero-form"><button class="btn btn-primary">Create Hero</button></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card suicide-squad" style="width: 18rem;">-->
<!--                    <img class="card-img-top " src="https://base.imgix.net/files/base/ebm/ehstoday/image/2019/03/ehstoday_6749_safety_superhero.png?auto=format&fit=crop&h=432&w=768" alt="Card image cap">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Create A hero</h5>-->
<!--                        <a href="/squad-form"><button class="btn btn-primary">Create Squad</button></a>-->
<!--                    </div>-->
<!--                </div>-->
                </div>
            </div>
        </div>
            </div>
{{/partial}}
{{> layout.hbs}}