
{{#partial "content"}}
    <section class="landing-pg">
<div class="card" style="width: 18rem;">
    <img class="card-img-top " src="/img/hero.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Create A hero</h5>
        <a href="/hero-form"><button class="btn btn-primary">Create Hero</button></a>
    </div>
</div>
    </section>
{{/partial}}
{{> layout.hbs}}